@font-face {
  font-family: cousine;
  font-weight: 400;
  font-style: normal;
  src:url(../fonts/Cousine-Regular.ttf)
}

@font-face {
  font-family: cousine;
  font-weight: 400;
  font-style: italic;
  src:url(../fonts/Cousine-Italic.ttf)
}

@font-face {
  font-family: cousine;
  font-weight: 700;
  font-style: normal;
  src:url(../fonts/Cousine-Bold.ttf)
}

@font-face {
  font-family: cousine;
  font-weight: 700;
  font-style: italic;
  src:url(../fonts/Cousine-BoldItalic.ttf)
}

nav.uk-navbar-container {
  border: thin solid black;
  border-radius: 20px;
  margin: 10px;
  margin-bottom: 30px
}

div#header {
  font-family: cousine;
  text-align: center
}

img#logo {
  width: 100px;
  height: 100px
}

h1#page-heading {
  margin-top: 1em;
  font-family: cousine;
  font-weight: 700;
  font-size: xx-large;
  color: white
  
}

p#subtitle {
  color: white;
  opacity: 0.65
}

a.uk-accordion-title {
  color: black;
  font-weight: 700
}

a {
  text-decoration: none !important;
  color: black
}

li {
  color: black
}

p {
  color: black
}

body {
  font-family: cousine
}

html {
  background-color: grey !important;
  margin: 0.5em
}